<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doubao.merchant.server.recharge.dao.QzMoneyRecordMapper">

    <resultMap type="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity" id="qzMoneyRecordMap">
        <result property="id" column="id"/>
        <result property="shopUserId" column="shop_user_id"/>
        <result property="tranType" column="tran_type"/>
        <result property="tranFlag" column="tran_flag"/>
        <result property="tarnAmount" column="tarn_amount"/>
        <result property="currentAmount" column="current_amount"/>
        <result property="createTime" column="create_time"/>
        <result property="tradeNo" column="trade_no"/>
        <result property="remark" column="remark"/>
        <result property="lockAmount" column="lock_amount"/>
    </resultMap>

    <select id="queryObject" resultType="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity">
        select
            `id`,
            `shop_user_id`,
            `tran_type`,
            `tran_flag`,
            `tarn_amount`,
            `current_amount`,
            `create_time`,
            `trade_no`,
            `remark`,
            `lock_amount`
        from qz_money_record
        where id = #{id}
    </select>

    <select id="queryList" resultType="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity">
        select
        mr.`id`,
        mr.`shop_user_id`,
        mr.`tran_type`,
        mr.`tran_flag`,
        mr.`tarn_amount`,
        mr.`current_amount`,
        mr.`create_time`,
        mr.`trade_no`,
        mr.`remark`,
        mr.`lock_amount`,
        b.`username` as shopUserName,
        b.`mobile` as UserPhone,
        b.`idcard` as cardId
        from qz_money_record mr
        LEFT JOIN `nideshop_user` b  ON mr.`shop_user_id` = b.`id`
        WHERE 1=1 and tran_type != 3
        <if test="name != null and name.trim() != ''">
            AND b.username LIKE concat('%',#{name},'%')
        </if>
        <if test="start_time != null and start_time.trim() != ''">
            AND mr.create_time &gt; #{start_time}
        </if>
        <if test="end_time != null and end_time.trim() != ''">
            AND mr.create_time &lt;  #{end_time}
        </if>
        <choose>
            <when test="sidx != null and sidx.trim() != ''">
                order by ${sidx} ${order}
            </when>
            <otherwise>
                order by mr.id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        select
        count(*)
        from qz_money_record mr
        LEFT JOIN `nideshop_user` b  ON mr.`shop_user_id` = b.`id`
        WHERE 1=1
        <if test="name != null and name.trim() != ''">
            AND b.username LIKE concat('%',#{name},'%')
        </if>
    </select>

    <insert id="saveQzMoneyRecord" parameterType="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity" useGeneratedKeys="true" keyProperty="id">
        insert into qz_money_record(
            `shop_user_id`,
            `tran_type`,
            `tran_flag`,
            `tarn_amount`,
            `current_amount`,
            `create_time`,
            `trade_no`,`remark`,`lock_amount`)
        values(
                  #{shopUserId},
                  #{tranType},
                  #{tranFlag},
                  #{tarnAmount},
                  #{currentAmount},
                  #{createTime},
                  #{tradeNo},
                  #{remark},
                  #{lockAmount}
              )
    </insert>

    <update id="update" parameterType="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity">
        update qz_money_record
        <set>
            <if test="shopUserId != null">`shop_user_id` = #{shopUserId}, </if>
            <if test="tranType != null">`tran_type` = #{tranType}, </if>
            <if test="tranFlag != null">`tran_flag` = #{tranFlag}, </if>
            <if test="tarnAmount != null">`tarn_amount` = #{tarnAmount}, </if>
            <if test="currentAmount != null">`current_amount` = #{currentAmount}, </if>
            <if test="createTime != null">`create_time` = #{createTime}, </if>
            <if test="tradeNo != null">`trade_no` = #{tradeNo},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            <if test="lockAmount != null">`lock_amount` = #{lockAmount}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from qz_money_record where id = #{value}
    </delete>

    <delete id="deleteBatch">
        delete from qz_money_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="queryMoneyRecords" resultType="com.doubao.merchant.api.recharge.entity.QzMoneyRecordEntity">
        select
        mr.`id`,
        mr.`shop_user_id`,
        mr.`tran_type`,
        mr.`tran_flag`,
        mr.`tarn_amount`,
        mr.`current_amount`,
        mr.`create_time`,
        mr.`trade_no`,
        mr.`remark`,
        mr.`lock_amount`,
        b.`username` as shopUserName,
        b.`mobile` as UserPhone,
        b.`idcard` as cardId
        from qz_money_record mr
        LEFT JOIN `nideshop_user` b  ON mr.`shop_user_id` = b.`id`
        WHERE 1=1 and tran_type != 3
        <if test="name != null and name.trim() != ''">
            AND b.username LIKE concat('%',#{name},'%')
        </if>
        <if test="start_time != null and start_time.trim() != ''">
            AND mr.create_time &gt; #{start_time}
        </if>
        <if test="end_time != null and end_time.trim() != ''">
            AND mr.create_time &lt;  #{end_time}
        </if>
    </select>

    <select id="queryLastMoneyRecord" resultMap="qzMoneyRecordMap" parameterType="java.lang.Integer">
        select
            `id`,
            `shop_user_id`,
            `tran_type`,
            `tran_flag`,
            `tarn_amount`,
            `current_amount`,
            `create_time`,
            `trade_no`,
            `remark`,
            `lock_amount`
        from qz_money_record
        where shop_user_id = #{userId} order by `id` desc LIMIT 1
    </select>

</mapper>