<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.doubao.merchant.server.thirdcompany.service.dao.ThirdCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.doubao.merchant.api.recharge.entity.ThridCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="appId" property="appid" jdbcType="VARCHAR" />
    <result column="public_key" property="publicKey" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="private_key" property="privateKey" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="call_back_url" property="callBackUrl" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, appId, public_key, status, private_key, name, call_back_url, create_date, update_date
  </sql>
  

  <insert id="insert" parameterType="com.doubao.merchant.api.recharge.entity.ThridCompany" >
    insert into thrid_company (id, appId, public_key, 
      status, private_key, name, call_back_url,
      create_date, update_date)
    values (#{id,jdbcType=INTEGER}, #{appid,jdbcType=VARCHAR}, #{publicKey,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{privateKey,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},#{callBackUrl,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.doubao.merchant.api.recharge.entity.ThridCompany" >
    insert into thrid_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appid != null" >
        appId,
      </if>
      <if test="publicKey != null" >
        public_key,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="privateKey != null" >
        private_key,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="callBackUrl != null" >
        call_back_url,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appid != null" >
        #{appid,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="callBackUrl != null" >
        #{callBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  

  
  <update id="updateByPrimaryKeySelective" parameterType="com.doubao.merchant.api.recharge.entity.ThridCompany" >
    update thrid_company
    <set >
      <if test="appid != null" >
        appId = #{appid,jdbcType=VARCHAR},
      </if>
      <if test="publicKey != null" >
        public_key = #{publicKey,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="privateKey != null" >
        private_key = #{privateKey,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="callBackUrl != null" >
        call_back_url = #{callBackUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="com.doubao.merchant.api.recharge.entity.ThridCompany" >
    update thrid_company
    set appId = #{appid,jdbcType=VARCHAR},
      public_key = #{publicKey,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      private_key = #{privateKey,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      call_back_url = #{callBackUrl,jdbcType=VARCHAR }
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getThridCompanyByAppId" parameterType="string" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from thrid_company
    where appId = #{appId} limit 1 ;
  </select>


  
</mapper>